/* .nav-height {
  height: 6vh;
} */

.head {
  height: 94vh;
} 

.background {
  background-image: url(../public/Assets/Bg.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.opacity {
  /* background-color: hsla(0, 0%, 100%, 0.466) ; */
  height: 30vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.heading {
  text-shadow: 2px 2px 5px black;
}

.footer {
  text-decoration: none;
  color: white;
}



.dot {
  height: 230px;
  width: 1300px;
  border-radius: 0%;
  display: inline-block;
  color: white;
  font-size: 20px;
}

/*---------------------------- Homepage Newsletter ---------------------*/
.newsletter {
  width: 83%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 120px;
  gap: 10px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  border-radius: 5px;
}

.newsletter h1 {
  color: #454545;
  margin-top: 60px;
  font-size: 44px;
  font-weight: 500;
}

.newsletter p {
  color: #454545;
  font-size: 20px;
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 630px;
  height: 50px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.newsletter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-size: 16px;
}

.newsletter div button {
  width: 150px;
  height: 50px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}






/*--------------- Login -----------------------*/


/* .slick-arrow{
  background-color: rgb(8, 8, 8) !important;
  color: rgb(0, 0, 0);
 
} */