.nav-height{
  height: 6vh;
}

.head{
  height: 94vh;
}

.background{
  background-image: url(../public/Assets/Bg.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.opacity{
  /* background-color: hsla(0, 0%, 100%, 0.466) ; */
  height: 30vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0.5) 100%);
}

.heading{
 text-shadow: 2px 2px 5px black; 
}

.card{
  min-height: 20vh;
  
}